node-red dashboard/flows.json
[{"id":"f314b2a1c9438585","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"c31502a0ea9614c6","type":"mqtt in","z":"f314b2a1c9438585","name":"Fleet Input","topic":"ecte474/fleet/+/telemetry","qos":"0","datatype":"json","broker":"ea0ea432beaaec96","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":380,"wires":[["9dcdc8221a53cfbb","ef1368479a3c2ecc"]]},{"id":"9dcdc8221a53cfbb","type":"debug","z":"f314b2a1c9438585","name":"debug 2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":600,"wires":[]},{"id":"f87250d986cd001c","type":"ui_worldmap","z":"f314b2a1c9438585","group":"37ec5bb89ad0c06e","order":1,"width":9,"height":4,"name":"","lat":"25.1972","lon":"55.2744","zoom":"14","layer":"OSMC","cluster":"","maxage":"0","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,BU,RW,SN,TL,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":840,"y":40,"wires":[]},{"id":"7d6f7e1aa834d76f","type":"function","z":"f314b2a1c9438585","name":"Fleet Table","func":"let rows = []\n\nfor (let t of msg.payload) {\n\n    let color = \"#2ECC71\"   // softer green for NORMAL\n\n    if (t.alert.includes(\"OVER_SPEED\")) color = \"orange\"\n    if (t.alert.includes(\"TEMP_HIGH\")) color = \"red\"\n    if (t.alert.includes(\"GEO_OUT\")) color = \"purple\"\n\n    rows.push({\n        truck: t.truck,\n        speed: t.speed,\n        Temp: t.temp,\n        RPM: t.rpm,\n        Distance: t.distance_km,\n        Alert: `<span style=\"color:${color};font-weight:bold\">${t.alert}</span>`\n    })\n}\n\nmsg.payload = rows\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":200,"wires":[["bb6e3e626979ef1f"]]},{"id":"ef1368479a3c2ecc","type":"json","z":"f314b2a1c9438585","name":"","property":"payload","action":"obj","pretty":false,"x":270,"y":180,"wires":[["c9d021d2a797de39"]]},{"id":"c9d021d2a797de39","type":"function","z":"f314b2a1c9438585","name":"Fleet Processor","func":"// =======================================\n// GET STORED FLEET DATA\n// =======================================\n\nlet fleet = flow.get(\"fleet\") || {}\n\nlet d = msg.payload\n\nif (!d || !d.truck) return null\n\n// =======================================\n// STORE / UPDATE TRUCK DATA\n// =======================================\n\nfleet[d.truck] = d\nflow.set(\"fleet\", fleet)\n\nlet trucks = Object.values(fleet)\n\n// =======================================\n// VARIABLES\n// =======================================\n\nlet totalSpeed = 0\nlet totalTemp = 0\n\nlet overspeed = 0\nlet highTemp = 0\nlet outsideZone = 0\n\nlet normal = 0\nlet warning = 0\n\nlet healthy = 0\nlet tempWarning = 0\nlet critical = 0\n\nlet problemTrucks = []\n\n// =======================================\n// PROCESS TRUCK DATA\n// =======================================\n\nfor (let t of trucks) {\n\n    let speed = Number(t.speed || 0)\n\n    let temp = Number(\n        t.temp || (t.rpm ? t.rpm / 50 : 90)\n    )\n\n    let distance = Number(t.distance_km || 0)\n\n    totalSpeed += speed\n    totalTemp += temp\n\n    // SPEED DISTRIBUTION\n    if (speed > 100) {\n        overspeed++\n        problemTrucks.push(`🚨 ${t.truck} → OVER_SPEED (${speed} km/h)`)\n    }\n    else if (speed >= 80) {\n        warning++\n    }\n    else {\n        normal++\n    }\n\n    // ENGINE HEALTH\n    if (temp > 110) {\n        highTemp++\n        critical++\n        problemTrucks.push(`🔥 ${t.truck} → TEMP_HIGH (${temp}°C)`)\n    }\n    else if (temp >= 90) {\n        tempWarning++\n    }\n    else {\n        healthy++\n    }\n\n    // GEOFENCE ALERT\n    if (distance > 100) {\n        outsideZone++\n        problemTrucks.push(`📍 ${t.truck} → OUTSIDE_ZONE (${distance} km)`)\n    }\n}\n\n// =======================================\n// CALCULATE AVERAGES\n// =======================================\n\nlet avgSpeed = trucks.length ? Math.round(totalSpeed / trucks.length) : 0\nlet avgTemp = trucks.length ? Math.round(totalTemp / trucks.length) : 0\n\n// =======================================\n// LIMIT PROBLEM LIST\n// =======================================\n\nproblemTrucks = problemTrucks.slice(0, 5)\n\nlet problemMessage =\n    problemTrucks.length > 0\n        ? problemTrucks.join(\"<br>\")\n        : \"✅ No Critical Trucks\"\n\n// =======================================\n// OUTPUTS\n// =======================================\n\nreturn [\n\n    // OUTPUT 1 → MAP\n    {\n        payload: {\n            name: d.truck,\n            lat: Number(d.lat),\n            lon: Number(d.lon),\n            icon: \"truck\",\n            layer: \"fleet\"\n        }\n    },\n\n    // OUTPUT 2 → TEMPERATURE GAUGE\n    {\n        payload: avgTemp\n    },\n\n    // OUTPUT 3 → SPEED GAUGE\n    {\n        payload: avgSpeed\n    },\n\n    // OUTPUT 4 → FLEET SUMMARY\n    {\n        payload:\n            \"Total Trucks: \" + trucks.length +\n            \"<br>Overspeed: \" + overspeed +\n            \"<br>High Temp: \" + highTemp +\n            \"<br>Outside Zone: \" + outsideZone\n    },\n\n    // OUTPUT 5 → FLEET TABLE\n    {\n        payload: trucks\n    },\n\n    // OUTPUT 6 → SPEED DISTRIBUTION CHART\n    {\n        payload: [\n            { label: \"Normal\", value: normal },\n            { label: \"Warning\", value: warning },\n            { label: \"Overspeed\", value: overspeed }\n        ]\n    },\n\n    // OUTPUT 7 → TOP PROBLEM TRUCKS\n    {\n        payload: problemMessage\n    },\n\n    // OUTPUT 8 → ENGINE HEALTH DISTRIBUTION  (FIXED FORMAT)\n    [\n        { topic: \"Healthy\", payload: healthy },\n        { topic: \"Temp Warning\", payload: tempWarning },\n        { topic: \"Critical\", payload: critical }\n    ]\n\n]","outputs":8,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":180,"wires":[["f87250d986cd001c"],[],[],["d6bf65b0c5ca0de2"],["7d6f7e1aa834d76f"],["100fa1de1f40b6a1"],["320fdf6addb33565"],["2f13d332677c2d5b"]]},{"id":"d6bf65b0c5ca0de2","type":"template","z":"f314b2a1c9438585","name":"Fleet summary","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div style=\"font-size:20px; line-height:28px\">\n\n<b>Fleet Summary</b><br><br>\n\nTotal Trucks: {{msg.payload.total}} <br>\nOverspeed Trucks: {{msg.payload.overspeed}} <br>\nHigh Temperature: {{msg.payload.hightemp}}\n\n<br><br>\n\n<h3 style=\"color:#FF4B4B; margin-top:10px;\">\nFleet Management Table\n</h3>\n\n</div>","output":"str","x":800,"y":120,"wires":[[]]},{"id":"100fa1de1f40b6a1","type":"function","z":"f314b2a1c9438585","name":"Speed  Distribuition Chart","func":"let fleet = flow.get(\"fleet\") || {};\nlet trucks = Object.values(fleet);\n\n// 1. We remove the reset command so the chart doesn't flash blank.\n\nfor (let t of trucks) {\n    // 2. The chart finds the existing bar for this truck and smoothly \n    // updates its height to the new speed.\n    node.send({\n        topic: t.truck,\n        payload: t.speed\n    });\n}\n\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":240,"wires":[["85bc1f039085c43d"]]},{"id":"85bc1f039085c43d","type":"ui_chart","z":"f314b2a1c9438585","name":"","group":"a304656e569a6b8c","order":3,"width":9,"height":6,"label":"Speed Distribution Chart","chartType":"horizontalBar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"130","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1170,"y":240,"wires":[[]]},{"id":"320fdf6addb33565","type":"function","z":"f314b2a1c9438585","name":"Top Problem Trucks","func":"let fleet = flow.get(\"fleet\") || {}\n\nlet trucks = Object.values(fleet)\n\nlet problems = []\n\nfor (let t of trucks) {\n\n    let speed = Number(t.speed || 0)\n    let temp = Number(t.temp || 0)\n\n    if (speed > 80) {\n        problems.push(`🚨 ${t.truck} → OVER_SPEED (${speed} km/h)`)\n    }\n\n    if (temp > 110) {\n        problems.push(`🔥 ${t.truck} → TEMP_HIGH (${temp}°C)`)\n    }\n\n    if (t.alert && t.alert.includes(\"GEO_OUT\")) {\n        problems.push(`📍 ${t.truck} → OUTSIDE_ZONE`)\n    }\n}\n\n// show max 5 trucks to keep dashboard clean\nproblems = problems.slice(0, 4)\n\nmsg.payload = problems.join(\"<br>\") || \"✅ No Critical Trucks\"\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":300,"wires":[["12328e1b29e83055"]]},{"id":"12328e1b29e83055","type":"ui_text","z":"f314b2a1c9438585","group":"a304656e569a6b8c","order":1,"width":0,"height":0,"name":"","label":"Top Problem Trucks","format":"{{msg.payload}}","layout":"col-center","className":"","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"16","color":"#1c1717","x":1200,"y":300,"wires":[]},{"id":"2f13d332677c2d5b","type":"ui_chart","z":"f314b2a1c9438585","name":"","group":"a304656e569a6b8c","order":2,"width":9,"height":3,"label":"Engine Health Distribution","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"30","ymax":"150","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d42121","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":850,"y":440,"wires":[[]]},{"id":"aa7292cc19e90a59","type":"ui_text","z":"f314b2a1c9438585","group":"37ec5bb89ad0c06e","order":2,"width":0,"height":0,"name":"","label":"","format":"<div style=\"text-align:center;font-size:32px;font-weight:bold;margin-bottom:20px;\"> Fleet Management Table </div>","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":830,"y":500,"wires":[]},{"id":"bb6e3e626979ef1f","type":"ui_table","z":"f314b2a1c9438585","group":"37ec5bb89ad0c06e","name":"Fleet Monitoring Data","order":3,"width":9,"height":5,"columns":[{"field":"truck","title":"Truck","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"speed","title":"speed","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Temp","title":"Temp","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"RPM","title":"RPM","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Distance","title":"Distance","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Alert","title":"Alert","width":"","align":"center","formatter":"html","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1060,"y":200,"wires":[[]]},{"id":"ea0ea432beaaec96","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"37ec5bb89ad0c06e","type":"ui_group","name":"Live Fleet Tracking — Downtown Dubai","tab":"bde02e6316ef4a34","order":1,"disp":true,"width":9,"collapse":true,"className":""},{"id":"a304656e569a6b8c","type":"ui_group","name":".","tab":"bde02e6316ef4a34","order":3,"disp":true,"width":9,"collapse":false,"className":""},{"id":"bde02e6316ef4a34","type":"ui_tab","name":"Fleet Mangement Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"621a7d205b82b9d2","type":"global-config","env":[],"modules":{"node-red-contrib-web-worldmap":"5.5.6","node-red-dashboard":"3.6.6","node-red-node-ui-table":"0.4.5"}}]